:root {
  --base-color: #040714;
  --font-color: #f9f9f9;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--base-color);
  color: var(--font-color);
  font-family: Avenir-Roman, 'sans-serif';
  margin: 0;
  padding: 0;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 479px) {
  body {
    font-size: 0.8rem;
  }
}
